.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
} 
.forgot-password a {
  cursor: pointer;
}

.logout, .row {
  margin-top: 20px;
}

.logout {
  text-align: right;
}

.user-info {
  float: left;
  margin-left: 15px;
}

.update-user-info {
  float: right;
  margin-right: 15px;
}

.user-info, .update-user-info {
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 0;
}

.user-info div, .update-user-info div {
  padding: 15px;
}

.info , .update {
  background-color: #f7f7f9;
}