<div class="translate" ng-controller="translateController">    
  <button class="btn btn-info" ng-click="changeToEn()">En</button>
  <button class="btn btn-info" ng-click="changeToRu()">Ru</button>
</div>
<div class="logout" ng-controller="forgotPasswordController">
  <div class="jumbotron">
    <p>{{ 'FORGOT_TEXT' | translate }}</p>
    <form name="forgetForm" class="form-forgot" novalidate>
      <div class="input">
        <input type="text" ng-model="username" class="form-control" placeholder="{{ 'USERNAME' | translate }}" required autofocus="">
      </div>
      <div class="button">
        <button class="btn btn-default" ng-click="remindPassword(username)">{{ 'REMIND_PASSWORD' | translate }}</button>
      </div>
    </form>
    <p>{{ password }}</p>
    <p>
      <a class="btn btn-info" ui-sref="login" role="button">{{ 'BACK_TO_LOGIN' | translate }}</a>
    </p>
  </div>
</div>