<form name="loginForm" class="form-signin" ng-controller="loginController" novalidate>
  <div ng-show="error" class="alert alert-danger">{{ error }}</div>
  <h2 class="form-signin-heading">Please sign in</h2>
  <input name="username" ng-model="username" class="form-control" placeholder="Username" required autofocus="">
  <p class="required" ng-show="loginForm.username.$invalid">Username is required.</p>
  <input type="password" name="password" ng-model="password" class="form-control" placeholder="Password" required>
  <p class="required" ng-show="loginForm.password.$invalid">Password is required.</p>
  <div class="checkbox">
    <div class="forgot-password">
      <a>Forgot your password?</a>
    </div>
  </div>
  <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="runSpinner(); signIn()" ng-disabled="loginForm.$invalid">Sign in
  <span loading-directive class="glyphicon glyphicon-refresh loading-icon"></span>
  </button>
</form>